<div class="wrapper-top">
	<h1>Admin Dashboard (id: {{adminId}})</h1>
	<h3>Save the url of this page to return to it later</h3>
	<div *ngFor="let event of events" class="row event-panel">
		<h4>{{event.name}} | {{event.eventId}}</h4>
		<p>{{event.description}}</p>
		<p>Start time: {{event.checkStart | 'shortDate'}}</p>
		<p>End time: {{event.checkEnd | 'shortDate'}}</p>
	</div>
	<button *ngIf="formHidden" (click)="showForm()" class="btn btn-success">Create Event</button>
	<event-form [adminId]="adminId" *ngIf="!formHidden"></event-form>
</div>
