	<div class="row dashboard-header">
		<h1>Admin Dashboard</h1>
		<p>Save the url of this page to return to it later</p>
	</div>
	<div class="row dashboard-events">
		<div *ngFor="let event of events" class="col-md-4">
			<div class="event-panel" (click)="gotoEvent(event.eventId)">
				<h4>{{event.name}} [id:{{event.eventId}}]</h4>
				<p class="desc">{{event.description}}</p>
				<p class="time">Start time: {{event.checkStart | date:'short'}}</p>
				<p class="time">End time: {{event.checkEnd | date:'short'}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div style="text-align:center;margin:30px auto;">
			<button *ngIf="formHidden" (click)="showForm()" class="btn btn-success">Add New Event</button>
			<event-form class="animated fadeInUp" [adminId]="adminId" *ngIf="!formHidden"></event-form>
		</div>
	</div>
