<div class="wrapper-top event">
	<div class="row">
		<h1>{{event?.name | uppercase}}</h1>
		<div class="col-md-6">
			<!-- <p class="back" (click)="back()"><< Back to Dashboard</p> -->
			<div class="well">
				<p>Event Description: {{event?.description}}</p>
				<p style="font-weight:bold;">Text {{event?.eventId}} to (919) 666-2564 to sign in.</p>
				<p>Check in starts at {{event?.checkStart | date:'short'}}<br>and ends at {{event?.checkEnd | date:'short'}}</p>
			</div>
			<div class="well" style="font-size:26px;">{{checkins.length}}</div>
			<div class="user-info well" *ngIf="userCheckIn !== ''">
				<h4>Other events by you that this person went to:</h4>
				<ul>
					<li *ngFor="let event of userCheckIn.events">Event Id: {{event.eventId}} -- Name: {{event.name}}</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<div *ngFor="let response of checkins">
				<p class="response" (click)="getUser(response.number)">{{response.number}} -- {{response.content}}</p>
			</div>
		</div>
	</div>
</div>
