<div class="event">
	<div class="row">
		<h1>{{event?.name | uppercase}}</h1>
		<div class="col-md-6">
			<!-- <p class="back" (click)="back()"><< Back to Dashboard</p> -->
			<div class="well">
				<p *ngIf="event.description !== ''">Event Description: {{event?.description}}</p>
				<h3>Text <b>{{event?.eventId}}</b> to <b>(919) 666-2564</b> to sign in.</h3>
				<p>Check in starts at {{event?.checkStart | date:'short'}}<br>and ends at {{event?.checkEnd | date:'short'}}</p>
				<button class="btn btn-success" (click)="exportCSV()"><i class="fa file-excel-o"></i> Export to CSV</button>
			</div>
			<div class="well" style="font-size:26px;">{{checkins?.length}} people texted in</div>
			<div class="user-info well" *ngIf="userCheckIn !== ''">
				<h4>Other events by you this admin that this person went to:</h4>
				<ul>
					<li *ngFor="let event of userCheckIn?.events">Event Id: {{event.eventId}} -- Name: {{event.name}}</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<div *ngFor="let response of checkins">
				<p class="response" (click)="getUser(response.number)">{{response.number}} -- {{response.content}}</p>
			</div>
		</div>
	</div>
</div>
